{% extends 'base.html.twig' %}

{% block body %}
  <body class="page-top">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            Menu
            <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand page-scroll" href="#page-top">ICN au lycée</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a class="page-scroll" href="#informatique">Informatique</a>
            </li>
            <li>
              <a class="page-scroll" href="#creation">Création</a>
            </li>
            <li>
              <a class="page-scroll" href="#numerique">Numérique</a>
            </li>
            <li>
              <a class="page-scroll" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>

    <header id="page-top">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-9">
            <div class="header-content">
              <div class="header-content-inner">
                <h1>ICN</h1>
                <h2>
                  Informatique et création numérique</h2>
                <p>
                  Depuis 2015, un nouvel enseignement est proposé dans les lycée français : informatique et création numérique. Il existe comme enseignament d'exploration en classe de seconde, et comme enseignement optionnel en classe de première de filière générale
                  (L, ES ou S)
                </p>
                <p>
                  En classe de seconde, il s'agit d'un enseignement d'exploration qui s’adresse à tous les élèves de seconde quel que soit leur choix de série pour la poursuite de leur scolarité. Il s'agit d'un enseignement qui a autant pour ambition de faire
                  entrevoir la culture scientifique sous-jacente à l'informatique que de faire comprendre les enjeux sociétaux du numérique. Voici ce que disent les programmes :
                </p>
                <p>
                  À l’issue de cet enseignement, les élèves devraient avoir acquis et construit des repères sur :
                </p>
                <ul>
                  <li>
                    une première approche de l’informatique, en tant que science du traitement automatisé de l'information : ses fondements, ses concepts, ses langages, ses dispositifs et ses productions
                  </li>
                  <li>
                    la place de l’informatique et des applications du numérique dans la société, les enjeux que porte l’informatisation dans l’accès aux connaissances et à la culture, dans l’innovation et la création, mais aussi dans le rapport à l’identité individuelle
                    et au lien social
                  </li>
                </ul>
                <p>
                  En classe de première, il s'agit d'un enseignement facultatif d'une durée de deux heures par semaines qui recouvre un triple objectif
                </p>
                <ul>
                  <li>
                    amener les élèves à adopter un point de vue de concepteurs et de créateurs d’objets informatiques, en leur donnant des bases de la programmation et une bonne compréhension des principes du traitement automatique de données numérisées, allant jusqu’à
                    la réalisation
                  </li>
                  <li>
                    permettre aux élèves de développer en situation une réflexion épistémologique et éthique, notamment sur les enjeux du recueil, de l’exploitation et de la diffusion de grandes quantités de données, en les amenant à traiter et publier eux-mêmes des
                    données
                  </li>
                  <li>
                    les aider à développer leur autonomie et leurs capacités à mettre en oeuvre une méthode de travail incluant la démarche de projet, le travail collaboratif et l’approche par essai-erreur
                  </li>
                </ul>
                <p>
                  Dans les deux cas, l'enseignement n'est pas un cours magistral mais une dynamique de projet encourageant l'autoformation et l'exploitation des ressources en ligne.
                </p>

              </div>
            </div>
          </div>
          <div class="col-sm-4 col-md-3">
            <div class="header-content">
              <div class="header-content-inner">
                <div class="thumbnail header-thumbnail">
                  <a href="#informatique" class="page-scroll">
                    <img src="images/code-screen.jpg" class="img-responsive img-circle" alt="Image">
                    <div class="caption">
                      <h3 class="header-caption">
                        Informatique
                      </h3>
                    </div>
                  </a>
                </div>
                <div class="thumbnail header-thumbnail">
                  <a href="#creation" class="page-scroll">
                    <img src="images/forms-in-nature.jpg" class="img-responsive img-circle" alt="Image">
                    <div class="caption">
                      <h3 class="header-caption">
                        Création
                      </h3>
                    </div>
                  </a>
                </div>
                <div class="header-thumbnail thumbnail">
                  <a href="#numerique" class="page-scroll">
                    <img src="images/gafam.gif" class="img-responsive img-circle" alt="Image">
                    <div class="caption">
                      <h3 class="header-caption">
                        Numérique
                      </h3>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section id="informatique" class="">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-md-3">
            <div class="header-content">
              <div class="header-content-inner">
                <div class="thumbnail header-thumbnail">
                  <img src="images/code-screen.jpg" class="img-responsive img-circle" alt="Image">
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-8 col-md-9">
            <h2 class="section-heading">Informatique</h2>
            <p>
              <cite>
                "La science informatique n'est pas plus la science des ordinateurs que l'astronomie n'est celle des télescopes."
                <br>
                Harold Abelson
              </cite>
            </p>
            <p>
              Lorsque l'on évoque l'informatique, beaucoup pensent aux ordinateurs et à leur usage quotidien. Mais l'informatique est avant tout une science. La science du traitement de l'information.
            </p>
            <p>
              La page suivante présente des activités ou des références en ligne qui permettent de découvrir l'algorithmie, les langages informatiques et certains éléments de la théorie de l'information
            </p>
            <a href="index.php?page=informatique" class="btn btn-outline btn-xl">
              Accéder aux activités</a>
          </div>

        </div>
      </div>
    </section>

    <section id="creation" class="bg-secondary">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-9">
            <h2 class="section-heading">Création</h2>
            <p>
              <cite>
                L’art dans le numérique, c’est ce qui reste quand on a coupé le courant.
                <br>
                Maurice BENAYOUN
              </cite>
            </p>
            <p>
              L'informatique est une science qui fournit les outils numériques. Ces outils permettent de créer. Si bien souvent nous consommons du contenu à travers les outils numériques, ceux ci nous fournissent aussi la possibilité de devenir producteurs de
              contenu.
            </p>
            <p>
              Créer un jeu vidéo ? Concevoir une animation graphique ? Produire un générateur d'œuvres surréalistes ? Toutes ces choses sont possibles grâces aux outils numériques. Les différentes activités ou les différents sites proposés permettent de passer au
              rôle de créateur
            </p>
            <a href="index.php?page=creation" class="btn btn-outline btn-xl">
              Accéder aux activités</a>
          </div>
          <div class="col-sm-4 col-md-3">
            <div class="header-content">
              <div class="header-content-inner">
                <div class="thumbnail header-thumbnail">
                  <img src="images/forms-in-nature.jpg" class="img-responsive img-circle" alt="Image">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="numerique" class="">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-md-3">
            <div class="header-content">
              <div class="header-content-inner">
                <div class="thumbnail header-thumbnail">
                  <img src="images/gafam.gif" class="img-responsive img-circle" alt="Image">
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-8 col-md-9">
            <h2 class="section-heading">Numérique</h2>
            <p>
              <cite>
                "Si c'est gratuit, c'est que vous êtes le produit"<br>
                Anonyme
              </cite>
            </p>
            <p>
              Le monde qui nous entoure est numérique. La transformation a été rapide. Tout notre quotidien est imprégné d'outils numériques qui n'existaient pas encore il y a seulement 20 ans. Aujourd'hui, la plupart des personnes qui nous entourent se proménent
              avec dans la poche un ordinateur (les téléphones portables sont de vrais ordinateurs) et nous utilisons des outils numériques pour tant de choses.
            </p>
            <p>
              GAFAM. Google Apple Facebook Amazon Microsoft. Et les autres. Ils fournissent des services auquels nous sommes habitués. Une information que l'on recherche ? Une musique que l'on veut écouter ? Une vidéo à visionner ? Discuter avec ses amis à
              distance ? Stocker ses photos ? Commander des livres et des objets du quotidien ? Préparer un voyage ? Rechercher un plan ou un itinéraire ? Tout ces services et bien d'autres encore passent par ces géants du web.
            </p>
            <p>
              Mais comment tout cela fonctionne ? Quel est le modèle économique ? Quelles sont les conséquences psychologiques et sociales ? Les conséquences environnementales ? Voici un ensemble de références sur le sujet.
            </p>
            <a href="index.php?page=numerique" class="btn btn-outline btn-xl">
              Accéder aux références
            </a>
          </div>
        </div>
      </div>
    </section>

    <footer id="contact">
      <div class="container">
        <p>&copy; 2016 Laurent COOPER. L'ensemble du site est sous licence
          <a href="http://creativecommons.fr/licences/">
            CC BY NC SA
            <img src="images/cc-by-nc-sa" style="height:5ex;vertical-align:middle;">
          </a>
        </p>

      </div>
    </footer>

  </body>
{% endblock %}
